/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Dec 24, 2014, 12:46:54 PM
    Author     : sku202
*/
body{
    background: #eee;
    margin:0;
    padding: 0;
    /*font: normal 14px/32px RobotoDraft, Helvetica, Arial, sans-serif;*/
}

/*  Sidebar     */
.sidebar{
    padding: 0;   
    display: block;
    margin: 0;
}
.navbar-side{
    max-height: none;
    border: none;
    width: 100%;
    display: block;
    border-radius: 0;
    padding: 0;
    margin: 0;
   
}
.navbar-side li.logo {
    display: block;
    width: 100%;
    border-bottom: 1px solid #ccc;
    text-align: center;
    padding: 10px 0 10px 10px;
}
.navbar-side .navbar-nav>li>a,
.navbar-side .navbar-nav>li>a:focus,
.navbar-side .navbar-nav>li>a:hover,
.navbar-side .navbar-nav>li>a:active {
    outline: none;
    color: #212121;
    width: auto;
    background: transparent;
    padding:13px 20px;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid whitesmoke;
    line-height: 20px;
}
.logo a{
    border:none !important;
}
.navbar-side ul{
    width: 100%;
}
.navbar-side .side-nav li,
.navbar-side .side-nav li.panel {
    width: 100%;    
}

.navbar-side .side-nav li.panel ul li {
    border-top: none;
    border-bottom: none;
}
.navbar-side .side-nav li.panel i.fa,
.navbar-side .side-nav li i.fa {
    padding-right: 10px;
    color: #999;
    font-size: 17px;
}
.navbar-side .side-nav .fa-caret-down {
    float: right;
    margin-top: 2px;    
}

.navbar-side .side-nav > li > a.active {
    background-color: #2c3e50;
}

.navbar-side .side-nav li.panel ul li a.active {
    background-color: #e0e7e8;
}
.navbar-side ul.side-nav {
    background-color: transparent;
}

.navbar-side .side-nav > li {
    width: 100%;
    display: block;
}

.navbar-side .side-nav > li > a:hover {
    text-decoration: underline;
}

.navbar-side .side-nav li.panel ul li a:hover,
.navbar-side .side-nav li.panel ul li a:focus,
.navbar-side .side-nav li.panel ul li a:active {
    background-color: #e0e7e8;
}
.fa-hover {
    height: 45px;
}
.fa-hover:hover {
    font-size: 20px;
}
.navbar-side .side-nav > .panel {
    margin-bottom: 0;
    border: none;
    border-radius: 0;
    background-color: transparent;
    box-shadow: none;
}
#seo-img{    
    margin: 0 auto;
}
#content {
    padding: 20px;
}
#main1{    
    background: #fff;
}
side{
    padding: 0;
    margin: 0;
    width: 100%;
}

.tool-header{
    background: #4285f4;
    padding: 6px 30px 10px 30px;    
}

h1 {
    font-size: 25px;
    color: #fff;
}

h4 {
    font-size: 14px;
    color: #fff;
}

.radio label, .checkbox label {
    font-size: 13px;
    line-height: 20px;
}
#mask{	
    display:none;
    background: #000;
    position:absolute;
    color: white;
    width: 100%;
    
/*    left: 0;
    top: 0;*/
    z-index: 2500;	
    opacity: 0.8;
    box-shadow: 0 0 5px rgba(0,0,0,0.1), 0 3px 2px rgba(0,0,0,0.1); 
}
#mask >div{
    text-align: center;
    margin-top: 50px;
}
.section{
    width: 100%;
    padding-bottom: 1px;
    border-bottom: 1px solid #ccc;        
    font-size: 18px;
    font-weight: normal;
    margin-top: 25px;
}
.section a{
    text-decoration: none;
    color:#333;
    font-size: 18px;
    font-weight: normal;    
}
.section-data{
    padding-left: 15px;
    padding-top: 15px;
    width: 100%;
    height: auto;
    display: block;
    
}

.author h6 {
    font-size: 10px;
    color: #333;
    text-align: right;
    padding: 0 20px;    
}

.author a {
    color: #4297d7;
    text-decoration: underline;
}
thead td{
    font-weight: bold;
}